@media only screen and (max-width:800px)
{
	.wholePage1
	{
		width: 70%;
		padding: 0;
	}
}

@media only screen and (max-width:300px)
{
	.wholePage1
	{
		width:70%;
	}
}


.errorMsg
{
	border: 1px solid red;
	
}

.message
{
	color: red;
}



.wholePage1
{
  border-style: solid;
  border-width: 10px;
  border-color: black;
  padding: 0px;
  margin-top: 0px;
  background-color: rgb(192,192,192);
  margin-right: 50px;
  margin-left: 50px;
  
}

.wholePage2
{
 
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  

	
}

.list
{
	overflow: hidden;
	background-color: rgb(169,169,169);
	border-style: solid;
    padding: 0px;
	text-align: center;
	
}

.list a
{
  float: center;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-style: oblique;
  
}

.list a:hover
{
  background-color: #ddd;
  color: white;
}





.column1
{
  font-style: oblique;
  border: 3px solid black;
  padding: 8px;
  width: 40%;
  height: 30%;
  text-align: justify;
  background-color: rgb(169,169,169);
  display: inline-block;
}

.columnG
{
  font-style: oblique;
  border: 3px solid black;
  padding: 8px;
  width: 35%;
  height: 30%;
  float: left;
  margin-left:32%;
  background-color: rgb(124,252,0);
  display: inline-block;
}

.columnR
{
  font-style: oblique;
  border: 3px solid black;
  padding: 8px;
  width: 35%;
  height: 30%;
  float: left;
  margin-left:32%;
  background-color: rgb(255,0,0);
  display: inline-block;
}


footer
{
	font-style: oblique;
	text-align: center;
}



.aboutColumn
{
	text-align:center;
	
}


#inputText
{
	width: 75%;
	background-color:rgb(176,196,222); 
}


#titles
{
	text-decoration: none;
	color: black;
}

#nappulat
{
	width: 76%;
	
	background-color:rgb(192,192,192);
	border: 2px solid black;
	color: black;
	font-size:16px;
}

#btns
{
	width: 76%;
	
	background-color:rgb(192,192,192);
	border: 2px solid black;
	color: black;
	font-size:16px;
	
}

#nappulat:hover
{
  background-color: rgb(176,196,222); 
  color: white;
}


#btns:hover
{
  background-color: rgb(176,196,222); 
  color: white;
}

#startStatement
{
	font-style: oblique;
}

#contactInput
{
	width: 50%;
}

#textAreaInput
{
	width:60%;
	
}

.actions
{
	text-align: center;
	
	color: rgb(169,169,169);
}


.inOut
{
	position: absolute;
	top: 0px;
	right: 0px;
	
}

.outIn
{
	position: relative;
}


#backButton
{
	width: 7%;
	background-color:rgb(192,192,192);
	border: 2px solid black;
	color: black;
	font-size:16px;
}

#backButton:hover
{
  background-color: rgb(176,196,222); 
  color: white;
}



.title
{
  font-style: oblique;
  text-decoration: none;
  border-style: solid;
  padding: 3px;
  margin-top: 10px; 
  margin-right: 10px;
  margin-left: 10px;
  background-color: rgb(169, 169, 169);
  
  font-size: 190%;
  text-align: center;
}


.wrappingAll
{
	display: inline-block;
}


.logOutButton
{
	
	float: right;
	
	width: 10%;
	background-color:rgb(169,169,169);
	border: 2px solid black;
	color: black;
	font-size:16px;
	padding: 2px;
	margin-right:10px;
}

.logOutButton:hover
{
  background-color: rgb(176,196,222); 
  color: white;
}



.centering
{
	text-align:center;
}





